@charset "UTF-8";
  

header{
   width: auto;
   height: 50px;
   background-color:#B5A392;
}
.container{
   /* background-color: #BFFFC5; */
   width: auto;
   height: inherit;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   align-items: center;
}
a.header_title{
   
   margin-left: 20px;
   margin-right: auto;
   font-size: 1.5rem;
   letter-spacing: 2px;
   justify-content: flex-start;
   text-decoration: none;
   color: black;

}
a.nav:hover{
   text-decoration-line:underline;
}
a.nav{
   margin: 10px;
   padding: 0px 10px 0px 10px;
   color: black;
   text-decoration: none;
}
